<div class="header bg-gradient-danger pb-4 pt-5 pt-md-4">
  <app-navbar></app-navbar>
  <app-sidebar></app-sidebar>
</div>

<div class="container" style="margin-left: 300px">
  <div class="row align-items-center">
    <div class="col-xl-10 order-xl-1">
      <br>
      <div class="card shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">


            <div class="col-xl-8">
              <div >
                <div class="justify-content-center">
                  <div >
                    <div class="card-profile-image">

<!--                      <img [src]="employee.imageUrl" />-->



                      <div class="col">
                        <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <div>
                            <span class="heading">  nom</span>
                            <span class="description" [(ngModel)]="employee.name" > {{employee.name}}</span>
                          </div>
                          <div>
                            <span class="heading">email</span>
                            <span class="description" [(ngModel)]="employee.email"  >{{employee.email}}</span>
                          </div>
                          <div>
                            <span class="heading">jobTitle</span>
                            <span class="description">{{employee.roles.name}}</span>
                          </div>
                        </div>
                      </div>




                    </div>
                  </div>
                </div>
                <div >

                </div>
              </div>
            </div>



          </div>


          <a routerLink="/listUser"><button type="submit" class="btn btn-primary " > OK </button></a>



        </div>







      </div>
    </div>

  </div>

</div>

























