<div class="header bg-gradient-danger pb-4 pt-5 pt-md-4">
    <app-navbar></app-navbar>
    <app-sidebar></app-sidebar>
  </div>
  
  <div class="container">
    <div class="row align-items-center">
        <div class="col-xl-8 order-xl-1">
          <br>
          <div class="card shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Ajouter Chiens</h3>
                </div>
              </div>
            </div>
            <div class="card-body">
                <form   >
                    <div class="pl-lg-4">
                      <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                              <label class="form-control-label" for="nom">Nom de chien</label>
                              <input
                               type="text"

                               id="nom" class="form-control form-control-alternative"
                               placeholder="Nom"
                               [(ngModel)]="chien.nameChien" >
                            </div>
                          </div>
                          
                          
                          <div class="col-lg-6">
                            <div class="form-group">
                              <label class="form-control-label" for="image">Image</label>
                               <!--    <input #imageInput
                              type="file"
                              accept="image/*"
                              (change)="processFile(imageInput)">-->

                         <input id="image" class="form-control form-control-alternative "
                              
                               type="text"
                              
                              placeholder="Image" [(ngModel)]="chien.image">
                            </div>
                          </div>
                          
                          
                          
                          
                          
                          
                          <!--
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="state">Etat Sanitaire</label>
                            <input type="text" id="state" class="form-control form-control-alternative"
                             placeholder="Etat Sanitaire"
                             [(ngModel)]="chien.state" >
                          </div>
                       </div> -->
                      </div>
                    </div>
                    
                    <div class="pl-lg-4">
                      <div class="row">
                       
                      </div>
                      <div class="row">
                        <div class="col-lg-4">
                          <div class="form-group">
                            <label class="form-control-label" for="gender">Genre</label>
                            <select [(ngModel)]='chien.gender' name="dropdownOption" id="dropdownOption" class='form-control'>
                              <option class="form-control"  >Male</option>
                              <option class="form-control">Female</option>
                              
                              </select>
                           <!-- <input type="text" id="gender" class="form-control form-control-alternative" 
                            placeholder="Genre" [(ngModel)]="chien.gender" >-->
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="form-group">
                            <label class="form-control-label" for="color">Couleur</label>
                           <input type="text" id="color" 
                            class="form-control form-control-alternative" 
                            placeholder="Couleur" [(ngModel)]="chien.color" >
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="form-group">
                            <label class="form-control-label" for="age">Age</label>
                            <input type="number" min="0" oninput="this.value = Math.abs(this.value)" id="age" class="form-control form-control-alternative" placeholder="Ajouter l'age par mois" [(ngModel)]="chien.age">
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr class="my-4" />
                    <!-- Description -->
                    
                    <div class="pl-lg-4">
                      <div class="form-group">
                        <label>Description</label>
                        <textarea rows="4" class="form-control form-control-alternative" 
                        placeholder="A few words about you the dog ..."
                        [(ngModel)]="chien.description"></textarea>
                      </div>
                    </div>
                    <a routerLink="/tables"><button (click)="savechien()" type="submit" class="btn btn-primary ">Ajouter</button></a>
          
                  </form>
            </div>
          </div>
        </div>
  
  
    
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
   
  </div>
  