<div class="header bg-gradient-danger pb-4 pt-5 pt-md-4">
    <app-navbar></app-navbar>
    <app-sidebar></app-sidebar>
  </div>
  
  <div class="container">
    <div class="row align-items-center">
        <div class="col-xl-10 order-xl-1">
          <br>
          <div class="card shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                

                <div class="col-xl-8">
                    <div >
                      <div class="justify-content-center">
                        <div >
                          <div class="card-profile-image">
                           
                              <img [src]="currentChien.image" />
                            


                            <div class="col">
                                <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <div>
                                    <span class="heading">  Genre</span>
                                    <span class="description" [(ngModel)]="currentChien.gender" > {{currentChien.gender}}</span>
                                  </div>
                                  <div>
                                    <span class="heading">Couleur</span>
                                    <span class="description" [(ngModel)]="currentChien.color"  >{{currentChien.color}}</span>
                                  </div>
                                  <div>
                                    <span class="heading">Age</span>
                                    <span class="description">{{currentChien.age}} mois</span>
                                  </div>
                                </div>
                              </div>




                          </div>
                        </div>
                      </div>
                      <div >
                        
                      </div>
                      <div class="card-body  ">
                        <div class="row">
                         
                        </div>
                        <div >
                          <h3>
                            Nom de Chien : <span class="font-weight-light"> {{currentChien.nameChien}} </span>
                          </h3>
                          <h3>
                            Etat Sanitaire : 
                            <span class="font-weight-light" *ngIf="currentChien.state==false">malade </span> 
                            <span class="font-weight-light" *ngIf="currentChien.state==true">Sain </span>
                         </h3> 
                                  
                          <hr class="my-4" />
                          <h3>Description </h3>
                          <p>
                           {{currentChien.description}}
                        </p>
                        </div>
                      </div>
                    </div>
                  </div>


                


              </div>
            </div>
            





            
          </div>
        </div>
        </div>
        </div>
  
  
    
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
   
