<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
 </div>
<div class="container-fluid mt--7">
  <div class="row">
    
   <div class="row mt-11">
    <div class="col-xl-10 mb-5 mb-xl-5">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Municipalités</h3>
            </div>
            <div class="col text-right">
             <a routerLink="/add-municipalite" class="btn btn-sm btn-outline-primary">Ajouter</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
        
          <table class="table align-items-center table-flush" >
            <thead class="thead-light"  >
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Localisation</th>
                <th scope="col">Operations</th>
                </tr>
            </thead>
            
            <tbody >
              <tr *ngFor="let municipalite of municipalites; let i=index">
                <th>{{i+1}}</th>
                <th scope="row">
                  {{municipalite.nameMunicipalite}}

                </th>
                <td>
                 {{municipalite.localisationMunicipalite}}
                </td>
                <td>
                  
                  <!--<button type="button" class="btn btn-outline-success" [routerLink]="['/update-municipalite',,municipalite._id]">>Edit</button>-->
                  <a class="btn btn-outline-success" 
                    [routerLink]="['/update-municipalite',municipalite._id]">Modifier</a>
                  <button type="button" class="btn btn-outline-danger" (click)="deleteMunicipalite(municipalite._id)">Supprimer</button>
                  
                </td>
                
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
    <div class="col-xl-8">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Directeur</h3>
            </div>
            <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-outline-primary">Ajouter </a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
         
        </div>
      </div>
    </div>
  </div>
</div>
