<div class="header bg-gradient-danger pb-4 pt-5 pt-md-4">
    <app-navbar></app-navbar>
    <app-sidebar></app-sidebar>
  </div>
  
  <div class="container">
    <div class="row align-items-center">
        <div class="col-xl-8 order-xl-1">
          <br>
          <div class="card shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Modifier Etat Chiens</h3>
                </div>
              </div>
            </div>
            <div class="card-body">
                <form   >
                    <div class="pl-lg-4">
                      <div class="row">
                       <!-- <div class="col-lg-6">
                            <div class="form-group">
                              <label class="form-control-label" for="nom">Nom de chien</label>
                              <input
                               type="text"
                               id="nom" 
                               class="form-control form-control-alternative"
                              
                               [(ngModel)]="currentChien.nameChien" 
                               name="nameChien"
                               >
                            </div>
                          </div>
                          
                          
                          <div class="col-lg-6">
                            <div class="form-group">
                              <label class="form-control-label" for="image">Image</label>
                              

                         <input 
                         id="image" 
                         class="form-control form-control-alternative "
                         type="text"
                      
                         [(ngModel)]="currentChien.image"
                         name="image"
                         >
                            </div>
                          </div>-->
                          
                          
                          
                        
                          
                        <div>
                          <div class="form-group">
                            <h6 class="form-control-label" >Etat Sanitaire</h6>
                       
                              <p> Valider L'état Sanitaire du chien de chien : {{currentChien.nameChien}} &nbsp;&nbsp;
                            <button  type="button" class="btn btn-outline-success" (click)="updatestate()" >Valider </button>
                          </p>
                          </div>
                       </div> 
                      </div>
                   </div>
                    
                   <!-- <div class="pl-lg-4">
                      <div class="row">
                       
                      </div>
                      <div class="row">
                        <div class="col-lg-4">
                          <div class="form-group">
                            <label class="form-control-label" for="gender">Genre</label>
                            <select [(ngModel)]='currentChien.gender' name="dropdownOption" id="dropdownOption" class='form-control'>
                              <option class="form-control"  >Male</option>
                              <option class="form-control">Female</option>
                              
                              </select>-->
                           <!-- <input type="text" id="gender" class="form-control form-control-alternative" 
                            placeholder="Genre" [(ngModel)]="chien.gender" >-->
                         <!-- </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="form-group">
                            <label class="form-control-label" for="color">Couleur</label>
                           <input 
                           type="text" 
                           id="color" 
                            class="form-control form-control-alternative" 
                             
                            name="color"
                            [(ngModel)]="currentChien.color" >
                          </div>
                        </div>
                        <div class="col-lg-4">
                          <div class="form-group">
                            <label class="form-control-label" for="age">Age</label>
                            <input 
                            type="number" 
                            id="age" 
                            class="form-control form-control-alternative" 
                            [(ngModel)]="currentChien.age">
                          </div>
                        </div>
                      </div>
                    </div>-->
                    <hr class="my-4" />
                    <!-- Description -->
                    
                    <div class="pl-lg-4">
                      <div class="form-group">
                        <label>Description</label>
                        <textarea rows="4" class="form-control form-control-alternative"
                        [(ngModel)]="currentChien.description"></textarea>
                      </div>
                    </div>
                    <a routerLink="/dashboard-veterinaire"><button  type="submit" (click)="updatechien()" class="btn btn-primary ">Modifier</button></a>
          
                  </form>
            </div>
          </div>
        </div>
   
  </div>
  
