<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Hello {{user.name}}</h1>
        <p class="text-white mt-0 mb-5">This is your profile page.</p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img src="assets/employee/{{user.id}}/{{user.image}}" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
          </div>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="text-center" style="margin-top: 60px">
            <h3>
              {{user.name}}
            </h3>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>{{user.email}}
            </div>
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>{{user.roles.name}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-body">
          <form [formGroup]="userProfile" (submit)="submit()">
            <h6 class="heading-small text-muted mb-4">User information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Email</label>
                    <input type="email" id="input-email" class="form-control form-control-alternative"
                           formControlName="email"
                           [(ngModel)]="user.email"
                    >

                    <div class="alert " *ngIf="userProfile.get('email').touched && !userProfile.get('email').valid">
                  <span class="error" *ngIf="userProfile.get('email').errors.required"><i
                    class="fa fa-exclamation-circle"></i>
                    required
                  </span>

                      <span class="error" *ngIf="userProfile.get('email').errors.email"><i
                        class="fa fa-exclamation-circle"></i>
                    please enter a valid email
                  </span>
                      <!--                  <span class="error" *ngIf="desc.errors.minlength"><i class="fa fa-exclamation-circle"></i> Essayer de donner une description plus détaillé !!  </span>-->
                    </div>
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Name</label>
                    <input type="text" id="input-first-name" class="form-control form-control-alternative"
                           formControlName="name"
                           [(ngModel)]="user.name"
                    >
                  </div>
                  <div class="alert " *ngIf="userProfile.get('name').touched && !userProfile.get('name').valid">
                  <span class="error" *ngIf="userProfile.get('name').errors.required"><i
                    class="fa fa-exclamation-circle"></i>
                    required
                  </span>

                    <span class="error" *ngIf="userProfile.get('name').errors.minlength"><i
                      class="fa fa-exclamation-circle"></i>
                    the name is short
                  </span>
                    <!--                  <span class="error" *ngIf="desc.errors.minlength"><i class="fa fa-exclamation-circle"></i> Essayer de donner une description plus détaillé !!  </span>-->
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">password</label>
                    <input type="password"  class="form-control form-control-alternative"
                           formControlName="password"
                           placeholder="let it empty if you don't need to change your password"
                    >
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">image</label>
                    <input type="file"  class="form-control form-control-alternative"
                           formControlName="file"
                           (change)="change($event)"
                    >
                    <img id="image2" src="assets/img/default.jpeg" style="height: 200px; width: 200px;
                    margin-top: 50px">
                  </div>
                </div>
              </div>

            </div>
            <hr class="my-4" />
            <!-- Address -->
            <div class="pl-lg-4">
              <div class="row">
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Roles</label>
                    <input type="text" id="input-country" class="form-control form-control-alternative"
                           value="{{user.roles.name}}"
                           disabled
                    >
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <input type="submit" class="btn btn-info" value="edit">
            <!-- Description -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
